<nav id="breadcrumb" aria-label="Breadcrumb">
    <!-- index page -->
    <span>
        {% if page.url == "/" %}
        Home
        {% else %}
        <span><a href="/">Home</a></span>

        {% assign blog_path = page.url | split: "/blog/" %}
        {% if blog_path.size > 1 and blog_path[1] != "" %}
        <span><a href="/blog/">Blog</a></span>
        {% endif %}

        {% assign project_path = page.url | split: "/projects/" %}
        {% if project_path.size > 1 and project_path[1] != "" %}
        <span><a href="/projects/">Projects</a></span>
        {% endif %}

        {% assign category_path = page.url | split: "/blog/categories/" %}
        {% if category_path.size > 1 and category_path[1] != "" %}
        <span><a href="/blog/categories/">Post Categories</a></span>
        {% endif %}

        {% assign tag_path = page.url | split: "/blog/tags/" %}
        {% if tag_path.size > 1 and tag_path[1] != "" %}
        <span><a href="/blog/tags/">Post Tags</a></span>
        {% endif %}

        {% assign project_category_path = page.url | split: "/projects/project_categories/" %}
        {% if project_category_path.size > 1 and project_category_path[1] != "" %}
        <span><a href="/projects/project_categories/">Project Categories</a></span>
        {% endif %}

        {% assign project_tag_path = page.url | split: "/projects/project_tags/" %}
        {% if project_tag_path.size > 1 and project_tag_path[1] != "" %}
        <span><a href="/projects/project_tags/">Project Tags</a></span>
        {% endif %}

        <span>{{ page.title }}</span>
        {% endif %}
    </span>
</nav>