<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
        {% for item in site.navigation %}
        <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link {% if page.url == item.url %}active shadow {% else %}text-muted{% endif %}">
                <i class="fa-fw fas fa-{{ item.icon }}"></i>
                <span>{{ item.title | upcase }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>