<div id="post-list" class="flex-grow-1 px-xl-1" style="z-index:1000">
    <article class="card-wrapper card">
        <a href="/posts/how-kerberos-works-part-2/" class="post-preview row g-0 flex-md-row-reverse">
            <div class="col-md-12">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title my-2 mt-md-0">How Kerberos Works (Part 2)</h1>
                    <div class="card-text content mt-0 mb-3">
                        <p>Today, I’ll dive into Kerberos in detail. If you haven’t read my previous post about how
                            Kerberos works on a high level, check it out here.

                            How Kerberos Works
                            Here’s a diagram of the entire Kerber...</p>
                    </div>
                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                            <!-- posted date -->
                            <i class="far fa-calendar fa-fw me-1"></i>
                            <time>Oct 19, 2024</time>

                            <!-- categories -->
                            <i class="far fa-folder-open fa-fw me-1"></i>
                            <span class="categories">Cybersecurity</span>
                        </div>
                    </div>
                    <!-- .post-meta -->
                </div>
                <!-- .card-body -->
            </div>
        </a>
    </article>

    <article class="card-wrapper card">
        <a href="/posts/how-kerberos-works-part-1/" class="post-preview row g-0 flex-md-row-reverse">
            <div class="col-md-5">
                <div class="preview-img">
                    <img src="/assets/img/2024-10-05-How-Kerberos-Works-Part-1/Cerberus.jpeg" alt="Preview Image"
                        loading="lazy">
                </div>
            </div>
            <div class="col-md-7">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title my-2 mt-md-0">How Kerberos Works (Part 1)</h1>

                    <div class="card-text content mt-0 mb-3">
                        <p>Introduction

                            Authentication is a critical part of keeping networks secure. Kerberos, a protocol
                            that’s been around since the 1980s, is still a key player in today’s enterprise
                            environments. Though...</p>
                    </div>
                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                            <!-- posted date -->
                            <i class="far fa-calendar fa-fw me-1"></i>
                            <time>Oct 5, 2024</time>

                            <!-- categories -->
                            <i class="far fa-folder-open fa-fw me-1"></i>
                            <span class="categories">
                                Cybersecurity
                            </span>
                        </div>
                    </div>
                    <!-- .post-meta -->
                </div>
                <!-- .card-body -->
            </div>
        </a>
    </article>
</div>
<!-- #post-list -->