<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{% include lang.html %}

{% assign all_pinned = site.projects | where: 'pin', 'true' %}
{% assign all_normal = site.projects | where_exp: 'item', 'item.pin != true and item.hidden != true' %}
{% assign projects = '' | split: '' %}

<!-- Get pinned projects on current page -->
{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign projects = projects | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal (non-pinned) projects on current page -->

{% assign normal_size = paginator.projects | size | minus: pinned_size %}
{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = visible_start | minus: all_pinned.size %}
  {% endif %}
  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}
  {% for i in (normal_start..normal_end) %}
    {% assign projects = projects | push: all_normal[i] %}
  {% endfor %}
{% endif %}

<main id="project-list" class="flex-grow-1 px-xl-1">
  {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
  {% for project in sorted_projects %}
    <article class="card-wrapper card">
      <a href="{{ project.url | relative_url }}" class="project-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}
        {% if project.image %}
          {% assign src = project.image.path | default: project.image %}
          {% unless src contains '//' %}
            {% assign src = project.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = project.image.alt | xml_escape | default: 'Project Image' %}
          {% assign lqip = null %}

          {% if project.image.lqip %}
            {% capture lqip %}lqip="{{ project.image.lqip }}"{% endcapture %}
          {% endif %}
          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" class="rounded-end" {{ lqip }}>
          </div>
          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ project.title }}</h1>
            <div class="card-text content mt-0 mb-3">
              {% include project-description.html %}
            </div>

            <div class="project-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- project date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=project.date lang=lang %}

                <!-- categories -->
                {% if project.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in project.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if project.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .project-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</main>
<!-- #project-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}