{% assign MAX = 10 %}

{% assign project_tags = '' | split: '' %}

{% for project in site.projects %}
{% if project.project_tags %}
{% assign project_tags = project_tags | concat: project.project_tags %}
{% endif %}
{% endfor %}
{% assign project_tags = project_tags | uniq %}

<section class="panel-heading">
    <h2 class="panel-heading">Trending Project Tags</h2>
    {% if project_tags.size > 0 %}
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
        {% for category_name in project_tags %}
        {% assign url = category_name | slugify | url_encode | prepend: '/projects/project_tags/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ category_name }}</a>
        {% endfor %}
    </div>
    <div>
        <a class="text-muted lh-lg" href="{{ site.baseurl }}/projects/project_tags">View More</a>
    </div>
    {% else %}
    <div class="mt-3 mb-1 me-3">
        <p>No trending post tags currently available.</p>
    </div>
    {% endif %}
</section>