<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!-- Get 5 last posted/updated projects -->

{% assign MAX_SIZE = 5 %}

{% assign all_list = '' | split: '' %}

{% for project in site.projects %}
{% assign datetime = project.last_modified_at | default: project.date %}

{% capture elem %}
{{- datetime | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
{% endcapture %}

{% assign all_list = all_list | push: elem %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = '' | split: '' %}

{% for entry in all_list limit: MAX_SIZE %}
{% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}
<section id="access-lastmod-projects">
    <h2 class="panel-heading">Recently Updated Projects</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
        {% for item in update_list %}
        {% assign index = item | split: '::' | last | plus: 0 %}
        {% assign project = site.projects[index] %}
        {% assign url = project.url | relative_url %}
        <li class="text-truncate lh-lg">
            <a class="text-muted text-decoration-none" href="{{ url }}">{{ project.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- #access-lastmod-projects -->
{% endif %}