<html lang="en">

<head>
    {% include head.html %}
</head>

<body data-new-gr-c-s-check-loaded="14.1090.0" data-gr-ext-installed="">
    <!-- The Side Bar -->
    {% include sidebar.html %}

    <div id="main-wrapper" class="d-flex justify-content-center">
        <div class="col-12 col-md-8 container d-flex flex-column px-xxl-5">
            <header id="topbar-wrapper" aria-label="Top Bar">
                <div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 h-100">
                    {% include breadcrumb.html %}
                    <!-- endof #breadcrumb -->

                    <button type="button" id="sidebar-trigger" class="btn btn-link">
                        <i class="fas fa-bars fa-fw"></i>
                    </button>

                    <div id="topbar-title">{{ page.title }}</div>

                    <button type="button" id="search-trigger" class="btn btn-link">
                        <i class="fas fa-search fa-fw"></i>
                    </button>

                    <search id="search" class="align-items-center ms-3 ms-lg-0">
                        <i class="fas fa-search fa-fw"></i>
                        <input class="form-control" id="search-input" type="search" aria-label="search"
                            autocomplete="off" placeholder="Search...">
                    </search>
                    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">Cancel</button>
                </div> <!-- #topbar -->
            </header>

            <div class="row flex-grow-1">
                <main aria-label="Main Content" id="main-content" class="col-12 {% if page.url contains " /blog/" or
                    page.url contains "/posts/" or page.url contains "/projects/" or page.url contains "/tags/" or
                    page.url contains "/categories/" %}col-lg-11 col-xl-9{% else %}col-lg-12{% endif %} px-md-4">
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <!-- Create your custom home page content here -->
                    <!-- Use this file's name as the new home page layout in the root index.html to display this content -->
                    {{ content }}
                </main>

                {% if page.url contains "/blog/" or page.url contains "/posts/" %}
                <!-- panel -->
                <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
                    <div class="access">
                        {% include_cached update-list.html lang=lang %}
                        {% include_cached trending-categories.html lang=lang %}
                        {% include_cached trending-tags.html lang=lang %}
                        {% include_cached trending-archives.html lang=lang %}
                    </div> <!-- .access -->
                </aside> <!-- #panel-wrapper -->
                {% elsif page.url contains "/projects/" %}
                <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
                    <div class="access">
                        {% include_cached update-list-projects.html lang=lang %}
                        {% include_cached trending-project-categories.html lang=lang %}
                        {% include_cached trending-project-tags.html lang=lang %}
                    </div> <!-- .access -->
                </aside> <!-- #panel-wrapper -->
                {% endif %}
            </div> <!-- .row -->

            <div class="row">
                <!-- tail -->
                <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
                    {% include footer.html lang=lang %}
                </div>
            </div>

            <!-- The Search results -->
            <div id="search-result-wrapper" class="d-flex justify-content-center d-none">
                <div class="col-11 content">
                    <div id="search-hints">
                        <!-- The trending tags list -->
                        {% include trending-tags.html %}
                    </div>
                    <div id="search-results" class="d-flex flex-wrap justify-content-center text-muted mt-3"></div>
                </div>
            </div>
        </div>

        <aside aria-label="Scroll to Top">
            <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
                <i class="fas fa-angle-up"></i>
            </button>
        </aside>
    </div> <!-- #main-wrapper -->

    <div id="mask"></div>

    <aside id="notification" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-animation="true" data-bs-autohide="false">
        <div class="toast-header">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-center pt-0">
            <p class="px-2 mb-3">A new version of content is available.</p>
            <button type="button" class="btn btn-primary" aria-label="Update">
                Update
            </button>
        </div>
    </aside>

    <script
        src="https://cdn.jsdelivr.net/combine/npm/simple-jekyll-search@1.10.0/dest/simple-jekyll-search.min.js"></script>
    <script src="/assets/js/dist/commons.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/navbar.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JS for Light/Dark Mode -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modeToggle = document.getElementById('mode-toggle');
            const currentMode = localStorage.getItem('mode') || 'light';

            if (currentMode === 'dark') {
                document.documentElement.setAttribute('data-mode', 'dark');
            }

            modeToggle.addEventListener('click', function () {
                const mode = document.documentElement.getAttribute('data-mode') === 'dark' ? 'light' : 'dark';
                document.documentElement.setAttribute('data-mode', mode);
                localStorage.setItem('mode', mode);
            });
        });  
    </script>

    <!-- JS for Search Function -->
    <script>
        SimpleJekyllSearch({
            searchInput: document.getElementById('search-input'),
            resultsContainer: document.getElementById('search-results'),
            json: '/assets/js/data/search.json',
            searchResultTemplate: '  <article class="px-1 px-sm-2 px-lg-4 px-xl-0">    <header>      <h2><a href="{url}">{title}</a></h2>      <div class="post-meta d-flex flex-column flex-sm-row text-muted mt-1 mb-1">        {categories}        {tags}      </div>    </header>    <p>{snippet}</p>  </article>',
            noResultsText: '<p class="mt-5">Oops! No results found.</p>',
            templateMiddleware: function (prop, value, template) {
                if (prop === 'categories') {
                    if (value === '') {
                        return `${value}`;
                    } else {
                        return `<div class="me-sm-4"><i class="far fa-folder fa-fw"></i>${value}</div>`;
                    }
                }

                if (prop === 'tags') {
                    if (value === '') {
                        return `${value}`;
                    } else {
                        return `<div><i class="fa fa-tag fa-fw"></i>${value}</div>`;
                    }
                }
            }
        });
    </script>

    <span id="PING_CONTENT_AUTOPLAY_DETECTION" style="display: none;"></span>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>