---
layout: page
# The layout for Project Tag page
---

{% include lang.html %}

<div id="page-tag">
    <h1 class="ps-lg-2">
        <i class="fa fa-tag fa-fw text-muted"></i>
        {{ page.title }}
        <span class="lead text-muted ps-2">{{ site.projects | where: "project_tags", page.title | size }}</span>
    </h1>
    <ul class="content ps-0">
        {% assign tagged_projects = site.projects | where: "project_tags", page.title %}
        {% for project in tagged_projects %}
        <li class="d-flex justify-content-between px-md-3">
            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
            <span class="dash flex-grow-1"></span>
            {% include datetime.html date=project.date class='text-muted small text-nowrap' lang=lang %}
        </li>
        {% endfor %}
    </ul>
</div>